<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Video Info</title>
</head>
<body>
    <div th:fragment="videoInfo(videoInfo)">
        <div class="card mx-3">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <iframe th:src="${videoInfo.url}">
                    </iframe>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h6 class="card-title text-danger" th:text="${videoInfo.title}">Movie title</h6>
                        <p class="card-text"><small class="text-muted">Shared by </small><small class="text-muted" th:text="${videoInfo.sharedBy}">abc@gmail.com</small></p>
                        <p class="card-text"><small class="text-muted" th:text="${videoInfo.votedUpCount}">Vote Up</small><i class="fa-solid fa-thumbs-up"></i><small class="text-muted" th:text="${videoInfo.votedDownCount}">Vote Down</small><i class="fa-solid fa-thumbs-down"></i></p>
                        <p class="card-text"><small class="text-muted">Description:</small></p>
                        <p class="card-text font-weight-bold" th:text="${videoInfo.description}">Default description</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
